<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test thread-count="5" name="TestAPIClass">
		<classes>
			  <class name="APIBasics.TestAPIClass" /> 
			<class name="APIBasics.ComplexJsonParser"/>
			<class name="APIBasics.DynamicJson"/>
			<class name = "SerializeDeserialize.SerializeTest"/>
			<class name ="RequestResponseSpec.TestSpecBuilder"/>
			<class name="runner.Runner" />
		</classes>
	</test> 
</suite> 
